* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.content {
  background-image: url("./cover.png");
  background-size: cover;
  background-color: #f2f2f0;
  background-color: #f88f3a;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

nav {
  height: 60px;
  width: 100%;
  box-shadow: 16px 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d4b65;
}

.logo {
  margin-left: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.form {
  width: 450px;
  background-color: rgba(216, 196, 196, 0.6);
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  width: 165px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  margin-top: 10px;
  width: 165px;
  height: 25px;
  margin-bottom: 10px;
}

.submit input {
  margin-top: 25px;
  margin-bottom: 30px;
  width: 120px;
  height: 30px;
}
